@import 'src/styles/colors.scss';

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $WHITE_COLOR;
  stroke: $WHITE_COLOR;

  & > svg {
    height: 12px;
    width: 12px;
  }
}
