@import 'src/styles/dimensions.scss';

.News {
  padding: 25px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 32px 1fr 100px;
  box-sizing: border-box;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    margin: 24px 0;

    .FirstCardContainer {
      height: 80%;

    }
    .CardsContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 18px;
    }
  }

  .Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: $SMALL_SCREEN_WIDTH) {
  .News {
    .Body {
      grid-template-columns: 1fr;

      .FirstCardContainer {
        height: unset;
      }

      .CardsContainer {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
      }
    }
  }
}
