@import 'src/styles/colors.scss';
@import 'src/styles/dimensions.scss';

.Tabs {
  .TabButton {
    padding: 0;
    background: none;
    color: $WHITE_COLOR;
    opacity: 0.5;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:disabled {
      opacity: 1;
      cursor:  default;
    }
  }
}

@media (max-width: $SMALL_SCREEN_WIDTH) {
  .Tabs {
    .TabButton {
      font-size: 14px;
    }
  }
}
