@import 'src/styles/colors.scss';

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  border: 3px solid #3D3D3D;
  border-radius: 30px;
  padding: 30px;

  .SelectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .SelectSign {
      font-size: 12px;
      line-height: 14px;
      opacity: 0.25;
    }

    .Select {
      margin: 0 10px;
      background-color: $DARK_GREY_COLOR;
      color: $WHITE_COLOR;
      border: none;
      padding: 8px 0 8px 8px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .DotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .DotButton {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: none;
      color: $WHITE_COLOR;
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 10px;
      line-height: 11px;
  
      &:disabled {
        background-color: $LIGHT_GREY_COLOR;
        color: $BLACK_COLOR;
        opacity: 1;
      }
    }
  }

  .ArrowButtonsContainer {
    border-left: 1px solid rgba(255, 255, 255, 0.1);;
    padding-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ArrowButton {
      padding: 0;
      background: none;
      border: none;
  
      .ArrowIcon {
        fill: $LIGHT_GREY_COLOR;
        stroke: $BLACK_COLOR;
        & > svg {
          height: 18px;
          width: 18px;
        }
      }
  
      &:disabled {
        opacity: 0.25;
      }
  
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
